* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:#F6FFF8
}

body {
    width: 960px;
    margin: 0 auto;
    background-color: #211E1C;
}

header {
    text-align: center;
}

header img { 
    height: 90px; 
    padding-top: 1rem;
}

main {
   
}

section {
    margin: 2rem 0;
}

#bio {
display: flex; 
}

#name-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: larger;
}

#bio-choose {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: .5rem;
}

#choose-list {
    padding: 1rem;
    background-color: #463F3A;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#choose-list h4 {
    margin-bottom: 1rem;
    text-align: left;
}

figure img{
    height: 10rem;
}


figure {
    width: 10rem;
    text-align: center;
    font-size: small;
}

figcaption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  position: relative;
  top: -1.5rem;
}

#tech {
display: flex;
justify-content: space-between;
}



#interest h2{
    margin-bottom: 1rem;
}



#copyright {
    display: flex;
    justify-content: center;
    height: fit-content;
    
}

.greyBox {
    background-color: #463F3A;
    padding: 1rem;
}

.greyBox p {
    margin-top: .75rem;
}


h2 , h4 {
    color: #bcb8b1;
}
