* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

:root {
    --main-green: #3C4940;
    --main-white: #DEE1E4;
    --main-grey: #A0A3A6;
    --main-black: #111A19;
}

#box {
    background-color: var(--main-green);
    font-size: large;
    text-align: center;
}

#box h2 {
    color: var(--main-white);
}

.nav {
    min-width: 16rem;
    width: fit-content;
}

.mainContainer {
    display: flex;
    background-color: var(--main-white);
    margin: 0;
    padding: 0;
}

.shipview {
    margin: 10rem;
    border-radius: 10px;
}

.shipview img {
    border: solid 5px var(--main-green);
    border-radius: 10px;
    margin: 0 auto;
    object-fit: fill;
    width: 80vw;
    height: auto;
}

.navships {
    list-style-type: none;
    margin: 1rem;
    background-color: var(--main-black);
    border-radius: 10px;
    margin-top: 10rem;
    padding-top: 1rem;
    padding-right: 2rem;
    width: 20.5rem;
}

.navships a{
    text-decoration: none;
    color: var(--main-white);
    margin: 1rem 2rem;
    width: max-content;
}

.navships a:hover {
    color: #ffffff;
    font-weight: bold;
}

#clickme {
    z-index: 100;
    color: var(--main-white); 
    flex-direction: row;
    background-image: linear-gradient(to top, #111A19, #3C4940);
    height: max-content;
    width: 20.5rem;
    position: absolute; top: 16rem; left: 1rem;
}


#clickme h1 {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 0.75rem;
    height: max-content;
}


#navlist {
    display: flex;
    flex-direction: row-reverse;
    position:absolute; right:2px;
    list-style: none;
    background-color:var(--main-green);
    width: 100%;
}

#navlist li {
    padding: 1.5rem;
}

#navlist a {
    text-decoration: none;
    color: var(--main-white);
    font-size: large;
    font-weight: lighter;
}

#navlist li:hover {
    background-color: var(--main-black);
}

header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
}

header {
    background-color: var(--main-black);
    color: var(--main-white);
}

footer {
    background-color: var(--main-black);
    color: var(--main-white);
    margin: 0 auto;
}