* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


:root {
    --main-green: #3C4940;
    --main-white: #DEE1E4;
    --main-grey: #A0A3A6;
    --main-black: #111A19;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 1rem;
    border-radius: 10px;
    box-shadow:2px 2px 10px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease-in-out;
}

figure:hover {
    transform: translateY(-10px);
}

figure img {
    max-height: 20rem;
}

figcaption {
    text-align: center;
    display: block;
    text-align: center;
    border-radius: 10px;
    background-color: var(--main-green);
    position: relative;
    top: -1rem;
    width: 100%;
    color: var(--main-white);
    padding: 0;
    font-size: 2vh; 
}

figure img {
    border-radius: 10px;
}

button {
    width: 10rem;
    height: 48px;
    margin: 1.5rem;
    background-color: var(--main-green);
    color: var(--main-white);
    font-size: large;
    border-radius: 10px;
    margin-top: 6rem;
}

button:hover {
    color: var(--main-grey);
}

header {
    display: flex;
    justify-content: center;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-green);
    position: fixed;
    width: 100%;
    top: 0;
}

.navlist :hover{
    background-color: var(--main-black);
}

.navlist a {
    list-style: none;
    text-decoration: none;
    color: var(--main-white);
    font-size: large;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 1.5rem;
}

header h1 {
    display: flex;
    justify-content: center;
    
}

.title {
    text-align: center;
    font-size: 4rem;
    font-family: 'Star Jedi', arial;;
}