
:root {
    --main-green: #3C4940;
    --main-white: #DEE1E4;
    --main-grey: #DEE1E4;
    --main-black: #111A19;
    --main-darkGreen: #1C221E;
}

  

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-green);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}


.navlist :hover{
    background-color: var(--main-darkGreen);
}

.navlist a {
    list-style: none;
    text-decoration: none;
    color: var(--main-white);
    font-size: 16px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 1.5rem;
}

#welcome-section {
    background-color: var(--main-white); 
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
}

#welcomeimg {
    width: 50%;
    height: auto;
}

#projects {
    background-color: var(--main-white);
}

#projects h2 {
    text-align: center;
    font-size: 3vh;
}

#projects a {
    height: fit-content;
    width: 45%;
}

#projects img {
    width: 100%;
    height: auto;
}

.projects_images {
    column-count: 2;
    display: flex;
    justify-content: space-around;
}

#contact a {
    text-decoration: none;
    color: #fff;
}

#contact h1 {
    text-align: center;
    font-size: xx-large;
}



footer {
    padding: 2rem; 
    text-align: center;
    background-color: var(--main-black);
    color:var(--main-white);
}

.contact-links {
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
}

.contact-details {
    transition: transform 0.25s ease-in-out;
}

.contact-details:hover {
    transform: translateY(-8px);
}

#contact h1 {
    margin-bottom: 3rem;
    padding-top: 3rem
}

@media (max-width: 75em) {
    html {
      font-size: 80%; }}