:root {
    --main-green: #3C4940;
    --main-white: #DEE1E4;
    --main-grey: #A0A3A6;
    --main-black: #111A19;
}


* {
    margin: 0;
    padding: 0;
}

section {
    background-color: var(--main-grey);
}

a {
    text-decoration: none;
    color: var(--main-white);
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-green);
    position: fixed;
    width: 100%;
    top: 0;
}

.navlist :hover{
    background-color: var(--main-black);
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 1.5rem;
}

#welcome-section {
    background-color: var(--main-white); 
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

figure {
    margin: 2rem;
    background-color: var(--main-black)
}


@media (max-width: 75em) {
    html {
      font-size: 80%;