:root {
    --main-green: #3C4940;
    --main-white: #DEE1E4;
    --main-grey: #A0A3A6;
    --main-black: #111A19;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.senatorsDiv {
    display: flex;
    flex-wrap: wrap;
}

.senatorsDiv figure {
    margin: 1rem;
}

.senatorsDiv img {
    border-radius: 10px;
}

.loyaltyList {
    margin-bottom: 1rem;
    flex-wrap: wrap;
    font-size: larger;
    display: flex;
    background-color: var(--main-green);
    justify-content: space-between;
}

.loyaltyList li {
    margin: 1rem;
    color: var(--main-white);
    list-style-type: none;
}

.senority {
    margin-top: 2rem;
}